name: Build
on: [push]
jobs:
  windows:
    runs-on: windows-2022
    steps:
      - name: Checkout Project
        uses: actions/checkout@v3
      - name: Checkout FFmpeg
        uses: actions/checkout@v3
        with:
          repository: FFmpeg/FFmpeg
          path: FFmpeg
      - uses: msys2/setup-msys2@v2
        with:
          update: true
          install: >-
            coreutils
            gawk
            make
            diffutils
            yasm
            nasm
      - name: build
        run: node ./build.js windows
      - uses: actions/upload-artifact@v3
        with:
          name: windows
          path: output
  darwin:
    runs-on: macos-12
    steps:
      - name: Checkout Project
        uses: actions/checkout@v3
      - name: Checkout FFmpeg
        uses: actions/checkout@v3
        with:
          repository: FFmpeg/FFmpeg
          path: FFmpeg
      - name: brew install
        run: brew install automake fdk-aac git lame libass libtool libvorbis libvpx opus sdl shtool texi2html theora wget x264 x265 xvid nasm
      - name: build
        run: node ./build.js darwin
      - uses: actions/upload-artifact@v3
        with:
          name: darwin
          path: output

